@CHARSET "UTF-8";

body {
    font-family:
        "メイリオ",
        "Meiryo",
        verdana,
        "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro",
        Osaka,
        "ＭＳ Ｐゴシック",
        "MS PGothic",Sans-Serif
    !important;
}

footer {
    color: #999999;
    background-color: #eeeeee;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}
