{% extends 'base.html' %}

{% block title %}e-Mail{% endblock %}

{% block content %}
    <div class="container">

        <form id="email-form" method="post" action="" class="form-horizontal" role="form">
            {% csrf_token %}

            <h1>e-Mail</h1>

            {% if message %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div>{{ message }}</div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-body">

                    <div class="form-group">
                        <label for="sender">from</label>
                        <input type="text" class="form-control" name="sender" placeholder="hoge@hoge.com"
                               validation="require" value="{{ sender }}">
                    </div>
                    <div class="form-group">
                        <label for="receiptto">reciept to</label>
                        <input type="text" class="form-control" name="receiptto" placeholder="hoge@hoge.com"
                               validation="require" value="{{ receiptto }}">
                    </div>
                    <div class="form-group">
                        <label for="subject">subject</label>
                        <input type="text" class="form-control" name="subject" placeholder="件名" validation="require"
                               value="{{ subject }}">
                    </div>
                    <div class="form-group">
                        <label for="body">body</label>
                        <textarea class="form-control" rows="5" name="body" validation="require"
                                  placeholder="本文">{{ body }}</textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-sm btn-primary">Send</button>
                    </div>

                </div>
            </div>

        </form>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            Validation.init('#email-form');
        });
    </script>
{% endblock %}
